@model IEnumerable<Driving_School_Management_System.Models.SHIFT>

@{
    ViewBag.Title = "Shift Record";
}

<link href="~/Content/bootstrap.min.css.map" rel="stylesheet" />
<link href="~/Content/DataTables/media/css/dataTables.bootstrap4.min.css" rel="stylesheet" />


<div class="container">
    <hr />
    <h2 class="text-uppercase text-center text-purple">Shift Records </h2>
    <hr />
    <p>
        <a href="/shifts/create" class="btn btn-primary"><span class="fas fa-plus mr-1"></span>Add New</a>
    </p>


    <table class="table table-hover">
        <thead class="  text-purple">
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.WhichShift)
                </th>
                <th>
                    #
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.WhichShift)
                    </td>

                    <td>

                        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <a href="/shifts/edit/@item.ID" class="btn btn-sm btn-success"><span class="fas fa-edit "></span></a>

                            <a href="~/shifts/Remove/@item.ID" onclick="return confirm('Are you sure you wish to delete this Record?');" class="btn btn-danger fas fa-trash-alt "></a>

                        }


                    </td>
                </tr>
            }

        </tbody>
        <tfoot class="  text-purple">
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.WhichShift)
                </th>
                <th>
                    #
                </th>

            </tr>
        </tfoot>
    </table>
</div>





<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/popper.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/DataTables/media/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DataTables/media/js/dataTables.bootstrap4.min.js"></script>


<script>
    $('.table').DataTable();

</script>