USE [DRIVING_SCHOOL_MANAGEMENT_SYSTEM]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 1/3/2021 10:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 1/3/2021 10:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 1/3/2021 10:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 1/3/2021 10:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 1/3/2021 10:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 1/3/2021 10:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ATTENDENCE]    Script Date: 1/3/2021 10:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATTENDENCE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[STID] [int] NULL,
	[DATES] [date] NULL,
	[TIME_IN] [time](7) NULL,
	[TIME_OUT] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CAR_DETAIL]    Script Date: 1/3/2021 10:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CAR_DETAIL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CARNAME] [varchar](100) NOT NULL,
	[CARMODEL] [varchar](100) NOT NULL,
	[CARGEAR] [varchar](100) NOT NULL,
	[ENGINE_CC] [varchar](100) NOT NULL,
	[INSTRUCTOR_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CONTACT]    Script Date: 1/3/2021 10:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONTACT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](100) NOT NULL,
	[TELEPHONE] [int] NULL,
	[EMAIL] [varchar](100) NOT NULL,
	[SUBJECTS] [varchar](100) NOT NULL,
	[MESSAAGE] [varchar](100) NOT NULL,
	[CURRENTTIME] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DURATION]    Script Date: 1/3/2021 10:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DURATION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DurationTime] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[employee]    Script Date: 1/3/2021 10:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[employee](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FULLNAME] [varchar](200) NOT NULL,
	[Telephone] [int] NULL,
	[ADDRES] [varchar](200) NOT NULL,
	[Gender] [varchar](10) NOT NULL,
	[SALARY] [decimal](5, 2) NOT NULL,
	[DOB] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[INSTRUCTOR]    Script Date: 1/3/2021 10:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[INSTRUCTOR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FULLNAME] [varchar](100) NOT NULL,
	[EMAIL] [varchar](100) NOT NULL,
	[ADDRES] [varchar](100) NOT NULL,
	[TELEPHONE] [int] NULL,
	[LISENCES] [varchar](100) NOT NULL,
	[GENDER] [varchar](100) NOT NULL,
	[EDUCATIONAL_LEVEL] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NEWS]    Script Date: 1/3/2021 10:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NEWS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [varchar](100) NOT NULL,
	[BODY] [varchar](max) NOT NULL,
	[picture] [image] NULL,
	[PostTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 1/3/2021 10:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ORDERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FULLNAME] [varchar](100) NOT NULL,
	[TELEPHONE] [int] NULL,
	[EMAIL] [varchar](100) NOT NULL,
	[SERVICE_DRIVER] [varchar](100) NOT NULL,
	[MESSAAGE] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SHIFTS]    Script Date: 1/3/2021 10:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SHIFTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[WhichShift] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[STUDENTS]    Script Date: 1/3/2021 10:02:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STUDENTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](200) NOT NULL,
	[LastName] [varchar](200) NOT NULL,
	[Addres] [varchar](200) NOT NULL,
	[Telephone] [int] NULL,
	[Email] [varchar](100) NULL,
	[gender] [varchar](7) NOT NULL,
	[Duration_ID] [int] NULL,
	[SHIFT_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'790fa995-65d7-4c24-bea1-94587174f7cb', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2f0dd73e-4e1b-497e-ad38-13b77addc48c', N'Employee')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'a58a028e-27da-422f-b488-7689eca6fe3e', N'2f0dd73e-4e1b-497e-ad38-13b77addc48c')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'c020e59f-9db2-4908-9ef4-8488b6c83bac', N'790fa995-65d7-4c24-bea1-94587174f7cb')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'a58a028e-27da-422f-b488-7689eca6fe3e', N'kamaalxuuto990@gmail.com', 0, N'AKkHRvr82ePNRC1xqTIEl6jUtJZM5X+gDGf1FFrkHXJL22KQ1PjZ+2UetQP+RDHbbQ==', N'e0429eb4-1bba-4677-ba21-4e0f88763b2d', NULL, 0, 0, NULL, 1, 0, N'kamaalxuuto990@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'c020e59f-9db2-4908-9ef4-8488b6c83bac', N'khaliditman@gmail.com', 0, N'ANKbrkNB0QsfXX8TBL+5bhsTLe2EwPdFyNJD5cHSGr5e1ozM0Qru/MuAYLKyzlOI5g==', N'9fcd36e5-6ce1-4a80-9cb1-d997cc41a62d', NULL, 0, 0, NULL, 1, 0, N'khaliditman@gmail.com')
SET IDENTITY_INSERT [dbo].[ATTENDENCE] ON 

INSERT [dbo].[ATTENDENCE] ([ID], [STID], [DATES], [TIME_IN], [TIME_OUT]) VALUES (2, 4, CAST(N'2020-12-23' AS Date), CAST(N'08:00:00' AS Time), CAST(N'10:00:00' AS Time))
INSERT [dbo].[ATTENDENCE] ([ID], [STID], [DATES], [TIME_IN], [TIME_OUT]) VALUES (3, 5, CAST(N'2020-12-23' AS Date), CAST(N'08:00:00' AS Time), CAST(N'10:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[ATTENDENCE] OFF
SET IDENTITY_INSERT [dbo].[CAR_DETAIL] ON 

INSERT [dbo].[CAR_DETAIL] ([ID], [CARNAME], [CARMODEL], [CARGEAR], [ENGINE_CC], [INSTRUCTOR_ID]) VALUES (1, N'Crown', N'2004 Model Car', N'Manual', N'cc2004 Engine', 1)
SET IDENTITY_INSERT [dbo].[CAR_DETAIL] OFF
SET IDENTITY_INSERT [dbo].[CONTACT] ON 

INSERT [dbo].[CONTACT] ([ID], [NAME], [TELEPHONE], [EMAIL], [SUBJECTS], [MESSAAGE], [CURRENTTIME]) VALUES (1, N'khalid', 634377778, N'khaliditman@gmail.com', N'Hello Matter', N'somaliland Guul inshalah', NULL)
INSERT [dbo].[CONTACT] ([ID], [NAME], [TELEPHONE], [EMAIL], [SUBJECTS], [MESSAAGE], [CURRENTTIME]) VALUES (2, N'Khalidino hussein', 634377778, N'kamaalxuuto@gmail.com', N'Hello Matter', N'somaliland Guul inshalah', NULL)
SET IDENTITY_INSERT [dbo].[CONTACT] OFF
SET IDENTITY_INSERT [dbo].[DURATION] ON 

INSERT [dbo].[DURATION] ([ID], [DurationTime]) VALUES (3, N'30 Days')
INSERT [dbo].[DURATION] ([ID], [DurationTime]) VALUES (4, N'15 Days')
INSERT [dbo].[DURATION] ([ID], [DurationTime]) VALUES (5, N'7 Days')
SET IDENTITY_INSERT [dbo].[DURATION] OFF
SET IDENTITY_INSERT [dbo].[employee] ON 

INSERT [dbo].[employee] ([ID], [FULLNAME], [Telephone], [ADDRES], [Gender], [SALARY], [DOB]) VALUES (1, N'Salmaan Maadow', 634156889, N'jigjiga yar', N'Male', CAST(200.00 AS Decimal(5, 2)), CAST(N'1998-05-05' AS Date))
INSERT [dbo].[employee] ([ID], [FULLNAME], [Telephone], [ADDRES], [Gender], [SALARY], [DOB]) VALUES (2, N'ciise yousuf dheere', 633003001, N'xaarka', N'Male', CAST(180.00 AS Decimal(5, 2)), CAST(N'1993-02-02' AS Date))
SET IDENTITY_INSERT [dbo].[employee] OFF
SET IDENTITY_INSERT [dbo].[INSTRUCTOR] ON 

INSERT [dbo].[INSTRUCTOR] ([ID], [FULLNAME], [EMAIL], [ADDRES], [TELEPHONE], [LISENCES], [GENDER], [EDUCATIONAL_LEVEL]) VALUES (1, N'Cabdiraxmaan Jaamac Faarax', N'cabdi101@gmail.com', N'150 Streat', 634105254, N'Yes', N'Male', N'Secondary')
SET IDENTITY_INSERT [dbo].[INSTRUCTOR] OFF
SET IDENTITY_INSERT [dbo].[SHIFTS] ON 

INSERT [dbo].[SHIFTS] ([ID], [WhichShift]) VALUES (3, N'Morning')
INSERT [dbo].[SHIFTS] ([ID], [WhichShift]) VALUES (4, N'Afternoon')
INSERT [dbo].[SHIFTS] ([ID], [WhichShift]) VALUES (5, N'Evening')
SET IDENTITY_INSERT [dbo].[SHIFTS] OFF
SET IDENTITY_INSERT [dbo].[STUDENTS] ON 

INSERT [dbo].[STUDENTS] ([ID], [FirstName], [LastName], [Addres], [Telephone], [Email], [gender], [Duration_ID], [SHIFT_ID]) VALUES (4, N'Khalid', N'Hussein', N'jigjiga yar', 634377778, N'khaliditman@gmail.com', N'Male', 3, 3)
INSERT [dbo].[STUDENTS] ([ID], [FirstName], [LastName], [Addres], [Telephone], [Email], [gender], [Duration_ID], [SHIFT_ID]) VALUES (5, N'Mohamud', N'Maxamed', N'Cabaaye', 634729042, N'kamaalxuuto990@gmail.com', N'Male', 4, 4)
SET IDENTITY_INSERT [dbo].[STUDENTS] OFF
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ATTENDENCE]  WITH CHECK ADD FOREIGN KEY([STID])
REFERENCES [dbo].[STUDENTS] ([ID])
GO
ALTER TABLE [dbo].[CAR_DETAIL]  WITH CHECK ADD FOREIGN KEY([INSTRUCTOR_ID])
REFERENCES [dbo].[INSTRUCTOR] ([ID])
GO
ALTER TABLE [dbo].[STUDENTS]  WITH CHECK ADD FOREIGN KEY([Duration_ID])
REFERENCES [dbo].[DURATION] ([ID])
GO
ALTER TABLE [dbo].[STUDENTS]  WITH CHECK ADD FOREIGN KEY([SHIFT_ID])
REFERENCES [dbo].[SHIFTS] ([ID])
GO
