
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="~/Content/Images/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light text-uppercase">Caalami Najax</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            
            <div class="info">
                <a href="" class="d-block text-warning">Student Section</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">


                <li class="nav-item has-treeview">
                    <a href="/duration" class="nav-link active  bg-purple">
                        <i class="nav-icon fas fa-calendar-day"></i>
                        <p>
                            Duration Detail
                            
                        </p>
                    </a>
                  
                </li>
                <li class="nav-item has-treeview">
                    <a href="/shifts" class="nav-link active  bg-purple">
                        <i class="nav-icon fas fa-tasks"></i>
                        <p>
                            Shifts Detail
                            
                        </p>
                    </a>
                     
                </li>
                <li class="nav-item has-treeview">
                    <a href="/students" class="nav-link active  bg-purple">
                        <i class="nav-icon fas fa-user-alt"></i>
                        <p>
                            Students Detail
                            
                        </p>
                    </a>
                
                </li>
                <li class="nav-item has-treeview">
                    <a href="/attendence" class="nav-link active  bg-purple">
                        <i class="nav-icon fas fa-hourglass"></i>
                        <p>
                            Attendence Detail
                            
                        </p>
                    </a>
                </li>
              
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">

                    <div class="info">
                        <a class="d-block text-warning">School Section </a>
                    </div>
                </div>
                <li class="nav-item has-treeview">
                    <a href="/employee" class="nav-link active  bg-purple">
                        <i class="nav-icon fas fa-calendar-day"></i>
                        <p>
                            Employee Detail
                        </p>
                    </a>
               
                </li>
                <li class="nav-item has-treeview">
                    <a href="/cardetail" class="nav-link active  bg-purple">
                        <i class="nav-icon fas fa-car-alt"></i>
                        <p>
                            Car Detail
                            
                        </p>
                    </a>
                
                </li>
                <li class="nav-item has-treeview">
                    <a href="/Instructor" class="nav-link active  bg-purple">
                        <i class="nav-icon fas fa-user-edit"></i>
                        <p>
                            Instructor Detail
                        </p>
                    </a>
                  
                </li>
                <li class="nav-item has-treeview">
                    <a href="/news" class="nav-link active  bg-purple">
                        <i class="nav-icon fas fa-newspaper"></i>
                        <p>
                            News Detail
                          
                        </p>
                    </a>
                  
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>